main {
    padding: 1rem 20%;
}
form {
    display: block;
}
fieldset {
    padding: 0.25rem 0.5rem;
    background-color: var(--tertiary);
}
label, input {
    display: block;
    width: max-content;
}
input {
    width: 30%;
    padding: 2px;
    border: 2px inset #000;
    box-shadow: inset 0 0 4px #000;
    margin-bottom: 0.4rem;
}
#marketing label, #marketing input {
    display: inline;
    width: max-content;
}
#marketing label {
    margin-left: 2rem;
}
input[type=submit] {
    width: max-content;
    padding: 0.25rem 7rem;
    margin: 0.5rem auto;
    border: 1px solid #000;
    box-shadow: 0 0 4px #000;
    background-color: var(--tertiary);
}
@media screen and (max-width: 450px) {
    main {
        padding: 1rem 10%;
    }
    fieldset {
        padding: 2% 5%;
    }
    input {
        width:  100%;
        margin: auto;
    }
}