main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0.125rem;
}
main * {
    background-color: var(--tertiary);
    color: var(--second);
    text-align: center;
    margin: 0.1rem;
}
section {
    width: 99%;
}
article {
    width: 49%;
}