:root {
    --main: #FFF;
    --second: #000;
    --tertiary: #e6d656;
    --peri: #34679E;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.6s;
    
    overflow: hidden auto;
}
body {
    background-color: #EEEEDE;
}
header {
    text-align: center;
    padding: 0.25rem;
    /* background-color: #666; */
    box-shadow: 0px 4px 12px var(--second);
    border-bottom: 4px inset var(--second);
    margin-bottom: 0.5rem;
    background-color: var(--tertiary);
}
header h1 {
    text-shadow: 2px 2px 2px #FFF;
}
header p {
    font-style: italic;
}
nav ul, footer ul {
    width: max-content;
    margin: 0.25rem auto;
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
}
nav ul li {
    width: max-content;
    margin: 0.25rem 0.5rem;
    border: 2px inset #000;
    box-shadow: 0 0 4px #000;
    overflow: hidden;
}
nav a {
    text-align: center;
    padding: 0.5rem 1rem;
    color: var(--second);
    background-color: var(--main);
    text-decoration: none;
}
.active-page {
    color: var(--second);
    background-color: var(--tertiary);
    scale: 1.2;
    box-shadow: inset 0 0 12px 5px var(--main);
}
footer {
    text-align: center;
    background-color: var(--tertiary);
    margin-top: 0.5rem;
    box-shadow: 0px 4px 12px var(--second);
    border-top: 4px inset var(--second);
}
footer a {
    padding: 0 0.5rem;
    margin: 0rem 1rem;
}
a:hover {
    color: var(--tertiary);
    background-color: var(--second);
}
@media screen and (min-width: 1400px) {
    body {
        width: 1400px;
        margin: auto;
    }
}
@media screen and (max-width: 600px) {
    nav ul{
        width: 100%;
        margin: 0.25rem auto;
        display: flex;
        flex-wrap: wrap;
    }
    nav ul li {
        width: max-content;
        margin: 0.5rem auto;     
    }   
}