main {
    padding: 1rem 20%;
}
form {
    display: block;
}
fieldset {
    padding: 0.25rem 0.5rem;
}
label, input {
    display: block;
    width: max-content;
}
input {
    width: 30%;
    padding: 2px;
    border: 2px inset #000;
    box-shadow: inset 0 0 4px #000;
}
fieldset a {
    margin: 0.25rem 1.2rem;
    font-size: 80%;
}
input[type=submit] {
    width: max-content;
    padding: 0.25rem 7rem;
    margin: 0.5rem auto;
    border: 1px solid #000;
    box-shadow: 0 0 4px #000;
}