section {
    text-align: center;
}
#item-body {
    padding: 0.5rem 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
#gender-selector {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0.35rem;
    padding-bottom: 0;
}
#gender-selector * {
    margin: 0 0.25rem;
    padding: 0.125rem;
    text-align: center;
}
.item-box {
    display: block;
    width: 430px;
    /*height: 290px; */
    margin: 0.25rem;
    padding: 0.25rem;
    background-color: var(--tertiary);
    border: 2px solid var(--second);
    box-shadow: 0 0 8px var(--second);
    position: relative;
}
.item-box:hover {
    scale: 1.05;
    z-index: 1;
}
.item-box img {
    width: 420px;
    height: 290px;
    background: linear-gradient(45deg, var(--main), var(--second), var(--tertiary ));
    object-fit: cover;
    object-position: 50%;
    display: block;
    box-shadow: 0 0 12px var(--main);
    border: 1px solid var(--second) 
}
.item-box .item-name {
    text-shadow: 0 0 2px var(--second);
    margin: 0.25rem auto 0;
    width: max-content;
}
.item-box .item-price {
    width: max-content;
    float: left;
    margin: 0.5rem 0.25rem 0.125rem;
    padding: 0.125rem 0.25rem;
    box-shadow: inset 0 0 4px var(--second);
}
.item-box .item-buy {
    float: right;
    margin: 0.5rem 0.25rem 0.125rem;
    padding: 0.125rem 1rem;
    border-radius: 0;
    box-shadow: 2px 2px 4px var(--second);
}
.item-box summary {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 70%;
    background-color: #DDDD;
    border: 1px solid var(--tertiary);
    padding: 0.125rem 0.25rem;
    display: grid;
    place-content: center;
    opacity: 0;
}
.item-box summary:hover {
    opacity: 1;
}
.cart {
    position: absolute;
    width: 140px;
    height: 38px;
    padding: 6px;
    top: 75%;
    right: 2.5%;
    background-color: var(--main);
    border: 2px solid var(--main);
    border-radius: 2px;
    box-shadow: inset 0 0 20px var(--tertiary);
    overflow: hidden;
}
.cart:hover {
    min-width: 250px;
    width: max-content;
    height: 300px;
    z-index: 999;
}
.cart-head {
    margin-bottom: 16px;
}
#cart-total {
    float: left;
    margin: 0.75rem 0.25rem;
}
#cart-total::after {
    content: attr(cart-sum);
}
#cart-clear {
    float: right;
    margin: 0.5rem 0.25rem;
    padding: 0.25rem;
    border-radius: 2px;
}
#cart-checkout {
    position: absolute;
    top: 5px;
    right: 4px;
    padding: 0.125rem;
    border-radius: 2px;
    box-shadow: 2px 2px 4px var(--second);
}
@media screen and (max-width: 450px) {
    .item-box {
        width: 100%;
    }
    .item-box:hover {
        scale: 1.05;
        z-index: 1;
    }
    .item-box img {
        width: 100%;
        /* height: 80%; */
    }
    .cart {
        position: fixed;
        top: 2.5%;
        right: 0.5%;
        opacity: 1  ;
    }
}