section {
    text-align: center;
}
#item-body {
    padding: 0.5rem 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.item-box {
    display: block;
    width: 430px;
    /*height: 290px; */
    margin: 0.25rem;
    padding: 0.25rem;
    background-color: var(--tertiary);
    border: 2px solid var(--second);
    box-shadow: 0 0 8px var(--second);
    position: relative;
}
.item-box img {
    width: 420px;
    height: 290px;
    object-fit: cover;
    display: block;
}
.item-box .item-name {
    text-shadow: 0 0 2px var(--second);
    margin: auto;
    width: max-content;
}
.item-box .item-price {
    width: max-content;
    float: left;
    margin: 0.25rem 0;
    padding: 0.125rem 0.25rem;
    box-shadow: inset 0 0 4px var(--second);
}
.item-box .item-buy {
    float: right;
    margin: 0.25rem 0;
    padding: 0.125rem 1rem;
    border-radius: 0;
    box-shadow: 2px 2px 4px var(--second);
}
.item-box summary {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 70%;
    background-color: #DDDD;
    border: 1px solid var(--tertiary);
    padding: 0.125rem 0.25rem;
    display: grid;
    place-content: center;
    opacity: 0;
}
.item-box summary:hover {
    opacity: 1;
}
.cart:hover {
    min-width: 250px;
    width: max-content;
    height: 300px;
    padding: 32px 12px;
}
.cart {
    position: fixed;
    width: 70px;
    height: 32px;
    padding: 6px;
    top: 45%;
    right: 2.5%;
    background-color: var(--main);
    border: 2px solid var(--main);
    border-radius: 2px;
    box-shadow: inset 0 0 12px var(--tertiary);
    opacity: 0.9;
}
#cart-total::after {
    content: attr(cart-sum);
    grid-template-columns: auto auto;
}
#cart-clear {
    position: absolute;
    top: 32px;
    right: 5px;
}